<% @collabs.each do |collab| %>
  <% if collab.participants > 0 || logged_in? && collab.users.exists?(current_user.id) %>
    <div class="col-lg-4 col-md-6 item-container">
      <% if collab.image.attached? %>
        <%= image_tag collab.image, class: "item-img" %>
      <% else %>
        <%= image_tag "lightbulb.jpg", class: "item-img" %>
      <% end %>
      <div class="overlay">
        <div class="overlay-content">
          <%# <h5>by <%= link_to collab.user.username, user_path(collab.user) %></h5> %>
          <h3><%= collab.title %></h3>
          <p class="item-text"><%= truncate(collab.body, length:100) %></p>
          <p class="item-text">
          Skills needed: <%= raw collab.skill_list.map { |s| link_to s, skill_path(s) }.join(', ') %>
          </p>
          <%= link_to "VIEW", collab_path(collab), class: "btn btn-outline-light btn-md" %>
          <% if logged_in? && (collab.owner == current_user.id || current_user.admin?) %>
            <%= link_to "Edit", edit_collab_path(collab), class: "btn btn-outline-light btn-md" %>
            <%= button_to 'DELETE', collab_path(collab),class: "btn btn-outline-light btn-md", method: :delete %>
          <% end %> 
        </div>
      </div>
    </div>
  <% end %>
<% end %>


