<div class="imgContainer">
    <% if @collab.image.attached? %>
      <%= image_tag @collab.image, class: "card-img-top img-fluid full-img" %>
    <% else %>
      <%= image_tag "default_profile.png", class: "card-img-top full-img" %>
    <% end %>
  <div class="overlay"></div>
</div>

<h5 class="card-title mt-2"><%= @collab.title %></h5>
<p class="card-text"><%= truncate(@collab.body, length:100) %></p>

<% if logged_in? && (@collab.owner == current_user.id || current_user.admin?) %>
  <%= link_to "Edit", edit_collab_path(@collab), class: "btn btn-outline-light btn-md" %>
  <%= button_to 'DELETE', collab_path(@collab),class: "btn btn-outline-light btn-md", method: :delete %>
<% end %>

<% if logged_in? %>
  <% if @collab.owner != current_user.id %>
    <% if is_member? %> 
      <%= link_to 'leave', leave_collab_path(@collab), class: "btn btn-outline-light btn-md" %>
    <% else %>
      <%= link_to 'join', join_collab_path(@collab), class: "btn btn-outline-light btn-md" %>
    <% end %>
  <% end %>
<% end %>


<% if logged_in? && collab.users.exists?(current_user.id) %>
  <h3>Chat</h3>
  <%= render partial: "messages/form", locals: { collab: @collab, parent: nil } %>
  <%# to improve performance do eager loading for user to preload data into memory instead of multiple request to database .includes(:user) %>
  <%= render @collab.messages.where(parent_id: nil).includes(:user).order(id: :desc) %>
<% end %>

<div>
  <%= link_to "Back to all collabs", collabs_path %>
</div>

