
<div class="container">
    <div class="row justify-content-center text-center">
        <div class=col-8>
            <%= form_with(model: @user, class: "shadow p-3 mb-3 bg-info") do |form| %>
              <%= render 'shared/errors', obj: @user %>
              
              <div class="form-group row">
                <%= form.label :username, class: "col-1 col-form-label text-light" %>
                <%= form.text_field :username, class: "form-control shadow text-light", placeholder: "Enter a username"  %>
              </div>

              <div class="form-group row">
                <%= form.label :email, class: "col-1 col-form-label text-light" %>
                <%= form.email_field :email, class: "form-control shadow text-light", placeholder: "Your email" %>
              </div>

              <div class="form-group row">
                <%= form.label :password, class: "col-1 col-form-label text-light" %>
                <%= form.password_field :password, class: "form-control shadow text-light", placeholder: "Choose a password"  %>
              </div>

              <div class="form-group row">
                <%= form.label :image, class: "form-label" %>
                <%= form.file_field :image, class: "form-field" %>
              </div>

              <div>
                <%= form.submit( @user.new_record? ? "Sign up!" : "Update account", class: "btn btn-md btn-form") %>
              </div>
            <% end %>
        </div>
        <%= link_to 'Cancel and return to home page', root_path, class: "text-muted" %>
    </div>
</div> 

