<h1 class="text-center mt-4"><%= @user.username%>'s profile</h1>
<div>
  <% if @user.image.attached? %>
    <%= image_tag @user.image, style:"width:150px; height:150px; border-radius:100%;", class: "mx-auto d-block" %>
  <% else %>
    <%= image_tag "default_profile.png", style:"width:100px; height:115px; border-radius:100%;", class: "mx-auto d-block" %>
  <% end %>  
</div>
<% if logged_in? && ( @user == current_user || current_user.admin? )%>
  <div class="text-center mt-4">
    <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-outline-light btn-md"%>
    <%= link_to "Delete", user_path(@user),class: "btn btn-outline-light btn-md", data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>
<h3 class="text-center mt-4">Your project posts</h3>
<div class="flickr_pagination">
  <%= will_paginate @posts, :container => false %>
</div>
<%= render 'posts/post' %>
<div class="flickr_pagination mb-4">
  <%= will_paginate @posts, :container => false %>
</div>