<% @posts.each do |post| %>
  <div class="col-lg-4 col-md-6 item-container">
    <% if post.image.attached? %>
      <%= image_tag post.image, class: "item-img" %>
    <% else %>
      <%= image_tag "key.png", class: "item-img" %>
    <% end %>
    <div class="overlay">
      <div class="overlay-content">
        <h5>by <%= link_to post.user.username, user_path(post.user) %></h5>
        <h3><%= post.title %></h3>
        <p class="item-text"><%= truncate(post.body, length:100) %></p>
        <p class="item-text">
          Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
        </p>
        <%= link_to "VIEW", post_path(post), class: "btn btn-outline-light btn-md" %>
      </div>
    </div>     
  </div>
<%end%>

