<!-- Start of Navigation bar -->
<nav class="navbar mb-5 navbar-expand-lg navbar-dark fixed-top" id="full-nav">
    <div class="container-sm">
        <a href="#"></a>
        <button class="navbar-toggler ms-auto" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item ms-auto">
                    <%= link_to "HOME", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">SHOWCASE</a>
                    <ul class="dropdown-menu" id="dropdown-menu1" aria-labelledby="navbarDropdown">
                        <% if logged_in?%>
                          <li><%= link_to "ADD PROJECT", new_post_path, class:"dropdown-item "  %></li>
                          <% end %>
                          <li><%= link_to "VIEW PROJECTS", posts_path, class:"dropdown-item"  %></li>
                    </ul>
                </li>
                <li class="nav-item ms-auto">
                    <%= link_to "COLLAB", collabs_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                    <% if logged_in?%>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <%= "(Admin)" if current_user.admin? %>
                          <%= current_user.username %>
                        </a>
                    <% else %>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <%= image_tag "user.png", style:"width:30px; height:30px; border-radius:100%;", class: "ms-auto" %></a>
                    <% end %>
                    <ul class="dropdown-menu" id="dropdown-menu2" aria-labelledby="navbarDropdown">
                        <% if logged_in?%>
                          <li><%= link_to "PROFILE INFO", user_path(current_user), class:"dropdown-item" %></li>
                          <li><%= button_to "LOGOUT", logout_path, class:"dropdown-item", method: :delete, data: {turbo: :false} %></li>
                        <% else %>
                          <li><%= link_to "LOGIN", login_path, class:"dropdown-item" %></li>
                          <li><%= link_to "SIGN-UP", signup_path, class:"dropdown-item" %></li>
                        <% end %>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End of Navigation bar -->